/*-- scss:functions --*/


/*-- scss:defaults --*/

/*-- scss:rules --*/


/* css styles */

.oscar {
  color: #002b36;
}


.oscar > h2 {
  color: #002b36;
}

.oscar > p {
  color: #002b36;
}


.quarto-title-block {
  display: none;
}
